:root {  
  --gr6: #fffce7;
  --gr5: #d1cabd;
  --gr4: #a79c97;
  --gr3: #837676;
  --gr2: #64555a;
  --gr1: #45333e;
  --gr0: #220d1e;
  --ac4: #6baa9f;
  --ac3: #29857e;
  --ac2: #276060;
}

[data-react-earthstar-earthbar] {
  font-family: 'Gill Sans';
  color: var(--gr0);
}

[data-react-earthstar-earthbar] a {
  color: var(--ac2);
}

[data-react-earthstar-earthbar] h2 {
  margin: 0.5em 0;
}

[data-react-earthstar-earthbar-tabs] {
  box-shadow: inset 0 -3px 12px var(--gr1);
  background-color: var(--gr2);
  opacity: 1;
  background-image:  linear-gradient(135deg, var(--gr3) 25%, transparent 25%), linear-gradient(225deg, var(--gr3) 25%, transparent 25%), linear-gradient(45deg, var(--gr3) 25%, transparent 25%), linear-gradient(315deg, var(--gr3) 25%, var(--gr2) 25%);
  background-position:  10px 0, 10px 0, 0 0, 0 0;
  background-size: 20px 20px;
  background-repeat: repeat;
  padding: 8px 8px 0 8px;
}

[data-react-earthstar-earthbar-tab-label] {
  font-size: 14px;
  font-family: 'Gill Sans';
  border: 1px solid var(--gr4);
  background: var(--gr6);
  border-radius: 6px 6px 0 0;
  color: var(--gr2);
  box-shadow: 0 -4px 3px 1px var(--gr2);
  padding: 10px;
}

[data-react-earthstar-earthbar-tab-label]:hover {
  color: var(--ac4);
}

[data-react-earthstar-earthbar-tab-label][data-selected="true"] {
  border-bottom-color: var(--gr6);
  color: var(--ac3);
}


[data-react-earthstar-earthbar-panel] {
  background: var(--gr6);
  padding: 8px;
}

[data-react-earthstar-earthbar-panel] hr {
  border-style: double;
  border-width: 1px 0 0 0;
  border-color: var(--gr5);
}

[data-react-earthstar-button] {
  color: var(--gr6);
  background: var(--ac2);
  border: none;
  border-radius: 8px;
  padding: 8px;
  font-family: 'Gill Sans';
  font-size: 14px;
  box-shadow: 1px 1px 6px 1px var(--gr5)
}

[data-react-earthstar-button]:hover {
  background: var(--ac3);
}

[data-react-earthstar-button]:active {
  background: var(--ac2);
}

[data-react-earthstar-input] {
  font-family: 'Gill Sans';
  font-size: 14px;
  color: var(--gr6);
  background: var(--gr2);
  border: 1px solid var(--gr1);
  padding: 4px;
  box-shadow: inset 1px 1px 5px var(--gr2);
}

[data-react-earthstar-input]:focus {
  background: var(--gr1);
}

[data-react-earthstar-input]::placeholder {
  color: var(--gr5);
}

[data-react-earthstar-label] {
  color: var(--gr3);
  font-size: 14px;
  margin-left: 4px;
}

[data-react-earthstar-select] {
  font-family: 'Gill Sans';
  font-size: 14px;
  color: var(--gr6);
  background: var(--gr2);
  border: 1px solid var(--gr1);
  padding: 4px;
}

[data-react-earthstar-multiworkspace-settings-button] {
  background: none;
  box-shadow: none;
  color: var(--ac2);
  text-decoration: underline;
  padding: 0;
  margin-left: 1ch;
  border-radius: 0;
}

[data-react-earthstar-multiworkspace-settings-button]:hover {
  background: none;
}


