:root {
  --gr6: #fffce7;
  --gr5: #d1cabd;
  --gr4: #a79c97;
  --gr3: #837676;
  --gr2: #64555a;
  --gr1: #45333e;
  --gr0: #220d1e;
  --ac4: #6baa9f;
  --ac3: #29857e;
  --ac2: #276060;
  --t1: 'Gill Sans', sans-serif;
  --sh: 1px 1px 0 1px rgba(0, 0, 0, 0.04);
  --sh2: 2px 2px 0 0 var(--gr5);
}

[data-re-earthbar] {
  font-family: var(--t1);
}

[data-re-earthbar-tabs] {
  background: var(--gr6);
  padding: 8px;
  box-shadow: var(--sh);
}

[data-re-earthbar-tab-label] {
  font-family: var(--t1);
  font-size: 1em;
  color: var(--gr0);
  background: none;
  border: none;
  padding: 6px;
  transition: 200ms all;
  text-decoration: underline;
  text-decoration-thickness: 2px;
  text-decoration-color: var(--gr4);
}

[data-re-earthbar-tab-label]:hover {
  text-decoration-color: var(--gr0);
}

[data-re-earthbar-tab-label][data-selected='true'] {
  text-decoration-color: var(--ac3);
}

[data-re-earthbar-workspace-tab] {
  margin-left: 6px;
}

@keyframes slide {
  from {
    background-position: 0 0;
  }
  to {
    background-position: -20px 20px;
  }
}

[data-re-earthbar-panel] {
  color: var(--gr0);
  padding: 12px;
  box-shadow: var(--sh);
  background-color: #e5e5f7;
  transform: rotateZ(360deg);
  background-color: var(--ac3);
  background-image: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='UTF-8'%3F%3E%3Csvg width='20px' height='20px' viewBox='0 0 20 20' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' version='1.1'%3E%3C!-- Generated by Pixelmator Pro 2.0.3 --%3E%3Cpath id='Path' d='M10 20 L20 10 10 0 0 10 Z' fill='%23000000' fill-opacity='0.147' stroke='none'/%3E%3C/svg%3E%0A");
  background-size: 20px 20px;
  background-repeat: repeat;
  //animation-name: slide;
  animation-duration: 10s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  border-radius: 0 0 6px 6px;
}

[data-re-earthbar-panel] section {
  color: var(--gr0);
  background: var(--gr6);
  padding: 12px;
  border-radius: 6px;
  box-shadow: var(--sh);
}

[data-re-earthbar-panel] hr {
  border-color: var(--ac2);
  border-width: 1px 0 0 0;
  border-style: dashed;
  margin: 0.5em 0;
}

[data-re-earthbar-panel] section hr {
  border-color: var(--gr5);
  border-width: 1px 0 0 0;
  border-style: solid;
  margin: 1em 0;
}

[data-re-earthbar-panel] h1 {
  font-size: 1.5em;
  margin: 0 0 0.5em 0;
  color: var(--gr0);
  text-decoration: underline;
  text-decoration-thickness: 2px;
  text-decoration-color: var(--gr4);
}

[data-re-earthbar-panel] p {
  margin: 0.5em 0;
}

[data-re-earthbar-workspace-tab-zone] select {
  font-family: var(--t1);
  font-size: 1em;
  color: var(--gr6);
  line-height: 1.3;
  padding: 6px 18px 6px 8px;
  box-sizing: border-box;
  margin: 0 6px 0 0;
  border: 2px solid var(--gr1);
  border-radius: 8px;
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  background-color: var(--gr0);
  background-image: url("data:image/svg+xml,%3Csvg height='13' viewBox='0 0 20 13' width='20' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='m10 13 10-13h-20z' fill='%23fff' fill-opacity='.502'/%3E%3C/svg%3E");
  background-repeat: no-repeat, repeat;
  background-position: right 6px top 50%, 0 0;
  background-size: 0.65em auto, 100%;
  box-shadow: var(--sh)
}


[data-re-button] {
  font-family: var(--t1);
  font-size: 1em;
  border: 2px solid var(--gr3);
  padding: 6px;
  color: var(--gr0);
  background: var(--gr5);
  box-shadow: var(--sh2);
  position: relative;
  margin: 0;
}

[data-re-button]:hover {
  color: var(--gr0);
  background: var(--gr6);
}

[data-re-button]:active {
  top: 2px;
  left: 2px;
  box-shadow: none;
}

[data-re-button]:disabled {
  color: var(--gr5);
  border-color: var(--gr5);
  background: var(--gr6);
  box-shadow: none;
  cursor: not-allowed;
}

[data-re-button]:disabled:hover {
  background: var(--gr6);
}

[data-re-button]:disabled:active {
  top: 0;
  left: 0;
}

[data-re-input] {
  font-family: var(--t1);
  font-size: 1em;
  padding: 6px;
  border: 1px solid var(--gr5);
  border-radius: 4px;
}

[data-re-label],
[data-re-legend], [data-re-dt] {
  color: var(--gr3);
  margin: 0 0 2px 0;
}

[data-re-combobox-input] {
  font-family: var(--t1);
  font-size: 1em;
  padding: 6px;
  border: 1px solid var(--gr5);
  margin: 0;
}

[data-re-fieldset] {
  border: 1px solid var(--gr5);
  padding: 8px;
  margin: 0 0 1em 0;
  border-radius: 6px;
}

[data-re-details] {
  overflow: hidden;
  margin-top: 0.5em;
}

[data-re-summary] {
  color: var(--gr2);
  display: inline-block;
  padding: 2px;
  position: relative;
  border-bottom: 1px solid var(--gr5);
}

[data-re-summary]:hover {
  color: var(--ac2);
  border-color: var(--ac4);
}

[data-re-details-content] {
  padding: 8px 0;
}

[data-re-details-content] p {
  margin: 0 0 1em 0;
}

[data-re-details-content] p:last-child {
  margin: 0;
}

[data-re-earthbar] a {
  color: var(--ac3);
}

[data-re-workspace-address-fields] {
  font-size: 1.2em;
  color: var(--gr6);
  background: var(--gr0);
  display: inline-block;
  padding: 6px;
  border-radius: 8px;
  box-shadow: var(--sh);
  font-variant-numeric: tabular-nums;
}

[data-re-workspace-name-input] {
  color: var(--gr6);
  background: var(--gr1);
  border: none;
}

[data-re-regenerate-suffix-button] {
  margin-left: 4px;
  color: var(--gr6);
  background: var(--gr3);
  border: 1px solid var(--gr4);
  font-size: 1.2em;
  border-radius: 50%;
  padding: 0 2px;
  width: 1.4em;
  height: 1.4em
}

[data-re-regenerate-suffix-button]:hover {
  background: var(--gr4);  
}

[data-re-regenerate-suffix-button]:active {
  position: relative;
  top: 1px;
  left: 1px; 
}

[data-re-pub-item] {
  color: var(--gr6);
  background: var(--ac3);
  padding: 6px 8px;
  border-radius: 8px;
  box-shadow: var(--sh);
  border: 2px solid var(--ac4);
  display: inline-block;
}

[data-re-workspace-item] {
  color: var(--gr6);
  background: var(--gr0);
  border: 2px solid var(--gr1);
  padding: 6px 8px;
  border-radius: 8px;
  box-shadow: var(--sh);
  display: inline-block;
}

[data-re-invitation-creator-pub-option] {
  margin: 0 0.5em 0.5em 0;
  display: inline-block;
}

[data-re-multiworkspace-settings-button], [data-re-back-button] {
  color: var(--gr3);
  background: none;
  border: none;
  box-shadow: none;
  text-decoration: underline;
  text-decoration-thickness: 2px;
}

[data-re-pub-item-remove-button] {
  color: var(--gr6);
  background: none;
  border: none;
  box-shadow: none;
  padding: 0;
  margin-left: 0.5em
}

[data-re-pub-item-remove-button]:hover {
  color: var(--gr5);
  background: none;
}

[data-re-pubeditor-list-item] {
  margin: 0 0 0.5em 0;
}

[data-re-combobox-option] {
  padding: 4px 8px;
}

[data-re-invitation-creator-pub-options] {
  margin: 1em 0 0 0;
}
 
[data-re-dd] {
  margin: 0;
}

[data-re-user-panel-save-identity-section] button {
  margin-right: 6px;
}

[data-re-workspace-row] {
  margin: 0 0 0.5em 0
}

[data-re-pubs-list-item], [data-re-pubeditor-list-item], [data-re-invitation-redemption-pub-list-item] {
  display: inline-block;
  margin: 0 0.5em 0.5em 0;
}

[data-re-invitation-description] dd:first-of-type {
  margin-bottom: 0.5em
}

[data-re-invitation-description] {
  margin: 0 2px;
}

[data-reach-alert] {
  font-size: 0.9em;
  color: var(--ac3);
}

[data-re-invitation-redemption-button] {
  margin-top: 0.5em;
}