/* ***** COMMON ***** */

[data-re-input] {
  margin: 0;
}

[data-re-button] {
  margin: 0;
}

[data-re-earthbar-panel] h1 {
  margin: 0;
}

[data-re-earthbar-panel] p {
  margin: 0;
}

[data-re-earthbar-panel] dd {
  margin: 0;
}

[data-re-earthbar-panel] code {
  overflow-wrap: break-word;
  word-break: break-word;
}

/* A grid layout for a single text input with label and button*/

[data-re-pubeditor-add-form],
[data-re-keypair-form],
[data-re-display-name-form] {
  display: grid;
  grid-template-areas: 'label label label label' 'input input input button';
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-column-gap: 6px;
}

@media screen and (max-width: 600px) {
  [data-re-pubeditor-add-form],
  [data-re-keypair-form],
  [data-re-display-name-form] {
    display: grid;
    grid-template-areas: 'label ' 'input' 'button';
    grid-template-columns: 1fr;
    grid-row-gap: 6px;
  }
}

/* ***** COMPONENTS ***** */

/* AddWorkspaceForm */

[data-re-add-workspace-form] {
  display: grid;
  grid-template-areas: 'workspace-label pub-label .' 'workspace-input pub-input add-workspace-button';
  grid-template-columns: 1.5fr 1.5fr 1fr;
  grid-gap: 6px;
}

[data-re-add-workspace-address-label] {
  grid-area: workspace-label;
}

[data-re-add-workspace-address-input] {
  grid-area: workspace-input;
}

[data-re-add-workspace-pub-label] {
  grid-area: pub-label;
}

[data-re-add-workspace-pub-input] {
  grid-area: pub-input;
}

[data-re-add-workspace-button] {
  grid-area: add-workspace-button;
}

/* AuthorKeypairForm */

[data-re-author-keypair-form] {
  display: grid;
  grid-template-areas: 'address-label secret-label .' 'address-input secret-input button';
  grid-template-columns: 1.5fr 1.5fr 1fr;
  grid-column-gap: 6px;
}

@media screen and (max-width: 600px) {
  [data-re-author-keypair-form] {
    display: grid;
    grid-template-areas: 'address-label ' 'address-input' 'secret-label' 'secret-input' 'button';
    grid-template-columns: 1fr;
    grid-row-gap: 4px;
  }
}

[data-re-author-form-address-label] {
  grid-area: address-label;
}

[data-re-author-form-secret-label] {
  grid-area: secret-label;
}

[data-re-author-form-address-input] {
  grid-area: address-input;
}

[data-re-author-form-secret-input] {
  grid-area: secret-input;
}

[data-re-author-form-button] {
  grid-area: button;
}

/* AuthorKeypairUpload */

[data-re-keypair-upload-input] {
  visibility: hidden;
  position: absolute;
}

/* CurrentWorkspaceSelect */

[data-re-current-workspace-select-form] {
  display: flex;
  flex-direction: column;
}

/* DisplayNameForm */
[data-re-display-name-label] {
  grid-area: label;
}

[data-re-display-name-input] {
  grid-area: input;
}

[data-re-display-name-button] {
  grid-area: button;
}

/* DeleteMyDataForm */

[data-re-delete-my-data-form] {
  display: grid;
  grid-template-areas: 'label' 'input' 'button';
  grid-row-gap: 6px;
}

[data-re-delete-my-data-label] {
  grid-area: label;
}

[data-re-delete-my-data-input] {
  grid-area: input;
}

[data-re-delete-my-data-button] {
  grid-area: button
}

/* InvitationCreatorForm */

[data-re-invitation-creator-form] {
  display: grid;
  grid-template-areas: 'pub-options pub-options pub-options pub-options' 'input input input button';
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-column-gap: 6px;
}

@media screen and (max-width: 600px) {
  [data-re-invitation-creator-form] {
    display: grid;
    grid-template-areas: 'pub-options' 'input' 'button';
    grid-template-columns: 1fr;
    grid-row-gap: 6px;
  }
}

[data-re-invitation-creator-input] {
  grid-area: input;
}

[data-re-invitation-creator-button] {
  grid-area: button;
}

[data-re-invitation-creator-pub-options] {
  grid-area: pub-options;
}

/* InvitationRedemptionForm */

[data-re-invitatiton-redemption-form] {
  display: grid;
  grid-template-areas: 'label' 'input' 'error' 'description' 'button';
  grid-template-columns: 1fr;
}

[data-re-invitation-code-label] {
  grid-area: label;
}

[data-re-invitation-code-input] {
  grid-area: input;
}

[data-re-invitation-code-alert] {
  grid-area: error;
}

[data-re-invitation-description] {
  grid-area: description;
}

[data-re-invitation-redemption-button] {
  grid-area: button;
}

/* NewKeypairForm */

[data-re-keypair-form-shortname-label] {
  grid-area: label;
}

[data-re-keypair-form-shortname-input] {
  grid-area: input;
}

[data-re-keypair-form-button] {
  grid-area: button;
}

/* PubEditor */

[data-re-pubeditor-list] {
  padding: 0;
  list-style: none;
}

[data-re-pubeditor-list-item] {
  display: flex;
  align-items: baseline;
}

[data-re-pubeditor-newpub-label] {
  grid-area: label;
}

[data-re-pubeditor-newpub-combobox] {
  grid-area: input;
}

[data-re-combobox-input] {
  width: 100%;
}

[data-re-pubeditor-add-button] {
  grid-area: button;
}

/* WorkspaceCreatorForm */

[data-re-workspace-creator-form] {
  display: flex;
  flex-direction: column;
}

[data-re-workspace-creator-initial-pubs-fieldset] {
  display: grid;
  grid-template-areas: 'legend legend legend legend' 'pubs pubs pubs pubs' 'pub-input pub-input pub-input pub-button';
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-column-gap: 6px;
}

@media screen and (max-width: 600px) {
  [data-re-workspace-creator-initial-pubs-fieldset] {
    display: grid;
    grid-template-areas: 'legend' 'pubs' 'pub-input' 'pub-button';
    grid-template-columns: 1fr;
    grid-row-gap: 6px;
  }
}

[data-re-workspace-creator-initial-pubs-fieldset] legend {
  grid-area: legend;
}

[data-re-pubs-list] {
  grid-area: pubs;
}

[data-re-workspace-creator-pub-input] {
  grid-area: pub-input;
}

[data-re-workspace-creator-pub-add-button] {
  grid-area: pub-button;
}

[data-re-pubs-list] {
  padding: 0;
  margin: 0;
}

/* UserPanel */

[data-re-user-panel-secret] code {
  color: #888 !important;
  background-color: #888 !important;
}

[data-re-user-panel-secret] code::selection {
  color: white;
  background-color: black;
}

/* ***** EARTHBAR ***** */

/* Earthbar */

[data-re-earthbar-tabs] {
  display: flex;
  align-content: flex-end;
}

/* EarthbarTabLabel */

[data-re-earthbar-tab-label] {
  margin: 0;
}

/* EarthbarSpacer */

[data-re-earthbar-spacer] {
  flex: 1;
}

[data-re-accordion-button] {
  appearance: none;
  background: none;
  border: none;
  display: block;
  padding: 0;
  display: flex;
  width: 100%;
}

/* WorkspaceTab */

[data-re-earthbar-workspace-tab-zone] {
  display: flex;
  align-items: baseline;
  flex-wrap: nowrap;
}

/* WorkspaceRow */

[data-re-workspace-row] {
  display: flex;
  align-items: baseline;
}

/* WorkspaceList */

[data-re-workspace-list-workspaces] {
  padding: 0;
  list-style: none;
}

/* WorkspaceOptions */

[data-re-workpace-options-header] {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
}

/* @reach */

:root {
  --reach-combobox: 1;
}

[data-reach-combobox-popover] {
  border: solid 1px hsla(0, 0%, 0%, 0.25);
  background: hsla(0, 100%, 100%, 0.99);
  font-size: 85%;
}

[data-reach-combobox-list] {
  list-style: none;
  margin: 0;
  padding: 0;
  user-select: none;
}

[data-reach-combobox-option] {
  cursor: pointer;
  margin: 0;
  padding: 0.25rem 0.5rem;
}

[data-reach-combobox-option][aria-selected='true'] {
  background: hsl(211, 10%, 95%);
}

[data-reach-combobox-option]:hover {
  background: hsl(211, 10%, 92%);
}

[data-reach-combobox-option][aria-selected='true']:hover {
  background: hsl(211, 10%, 90%);
}

[data-suggested-value] {
  font-weight: bold;
}
