/* ***** COMMON ***** */

/* A grid layout for a single text input with label and button*/

[data-react-earthstar-pubeditor-add-form],
[data-react-earthstar-keypair-form],
[data-react-earthstar-display-name-form] {
  display: grid;
  grid-template-areas: 'label label label label' 'input input input button';
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

/* ***** COMPONENTS ***** */

/* AddWorkspaceForm */

[data-react-earthstar-add-workspace-form] {
  display: grid;
  grid-template-areas: 'workspace-label pub-label .' 'workspace-input pub-input add-workspace-button';
  grid-template-columns: 1.5fr 1.5fr 1fr;
}

[data-react-earthstar-add-workspace-address-label] {
  grid-area: workspace-label;
}

[data-react-earthstar-add-workspace-address-input] {
  grid-area: workspace-input;
}

[data-react-earthstar-add-workspace-pub-label] {
  grid-area: pub-label;
}

[data-react-earthstar-add-workspace-pub-input] {
  grid-area: pub-input;
}

[data-react-earthstar-add-workspace-button] {
  grid-area: add-workspace-button;
}

/* AuthorKeypairUpload */

[data-react-earthstar-keypair-upload-input] {
  visibility: hidden;
  position: absolute;
}

/* CurrentWorkspaceSelect */

[data-react-earthstar-current-workspace-select-form] {
  display: flex;
  flex-direction: column;
}

/* DisplayNameForm */
[data-react-earthstar-display-name-label] {
  grid-area: label;
}

[data-react-earthstar-display-name-input] {
  grid-area: input;
}

[data-react-earthstar-display-name-button] {
  grid-area: button;
}

/* InvitationCreatorForm */

[data-react-earthstar-invitation-creator-form] {
  display: grid;
  grid-template-areas: 'input input input button' 'pub-options pub-options pub-options pub-options';
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

[data-react-earthstar-invitation-creator-input] {
  grid-area: input;
}

[data-react-earthstar-invitation-creator-button] {
  grid-area: button;
}

[data-react-earthstar-invitation-creator-pub-options] {
  grid-area: pub-options;
}

/* InvitationRedemptionForm */

[data-react-earthstar-invitatiton-redemption-form] {
  display: grid;
  grid-template-areas: 'label' 'input' 'error' 'description' 'button';
  grid-template-columns: 1fr;
}

[data-react-earthstar-invitation-code-label] {
  grid-area: label;
}

[data-react-earthstar-invitation-code-input] {
  grid-area: input;
}

[data-react-earthstar-invitation-code-alert] {
  grid-area: error;
}

[data-react-earthstar-invitation-description] {
  grid-area: description;
}

[data-react-earthstar-invitation-redemption-button] {
  grid-area: button;
}

/* NewKeypairForm */

[data-react-earthstar-keypair-form-shortname-label] {
  grid-area: label;
}

[data-react-earthstar-keypair-form-shortname-input] {
  grid-area: input;
}

[data-react-earthstar-keypair-form-button] {
  grid-area: button;
}

/* PubEditor */

[data-react-earthstar-pubeditor-list] {
  padding: 0;
  list-style: none;
}

[data-react-earthstar-pubeditor-list-item] {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
}

[data-react-earthstar-pubeditor-newpub-label] {
  grid-area: label;
}

[data-react-earthstar-pubeditor-newpub-input] {
  grid-area: input;
}

[data-react-earthstar-pubeditor-add-button] {
  grid-area: button;
}

/* ***** EARTHBAR ***** */

/* Earthbar */

[data-react-earthstar-earthbar-tabs] {
  display: flex;
  align-content: flex-end;
}

/* EarthbarTabLabel */

[data-react-earthstar-earthbar-tab-label] {
  margin: 0;
}

/* EarthbarSpacer */

[data-react-earthstar-earthbar-spacer] {
  flex: 1;
}

[data-react-earthstar-accordion-button] {
  appearance: none;
  background: none;
  border: none;
  display: block;
  padding: 0;
  display: flex;
  width: 100%;
}

/* WorkspaceTab */

[data-react-earthstar-earthbar-workspace-tab-zone] {
  display: flex;
  align-items: baseline;
}

/* WorkspaceRow */

[data-react-earthstar-workspace-row] {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/* WorkspaceList*/

[data-react-earthstar-workspace-list-workspaces] {
  padding: 0;
  list-style: none;
}

/* WorkspaceOptions */

[data-react-earthstar-workpace-options-header] {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
}

/* @reach */

:root {
  --reach-combobox: 1;
}

[data-reach-combobox-popover] {
  border: solid 1px hsla(0, 0%, 0%, 0.25);
  background: hsla(0, 100%, 100%, 0.99);
  font-size: 85%;
}

[data-reach-combobox-list] {
  list-style: none;
  margin: 0;
  padding: 0;
  user-select: none;
}

[data-reach-combobox-option] {
  cursor: pointer;
  margin: 0;
  padding: 0.25rem 0.5rem;
}

[data-reach-combobox-option][aria-selected='true'] {
  background: hsl(211, 10%, 95%);
}

[data-reach-combobox-option]:hover {
  background: hsl(211, 10%, 92%);
}

[data-reach-combobox-option][aria-selected='true']:hover {
  background: hsl(211, 10%, 90%);
}

[data-suggested-value] {
  font-weight: bold;
}
